* {
	box-sizing: border-box;
	max-width: 100%;
}
body, html {
	background-color: #f4f4f4;
	color: #3c4751;
	font-family: 'Arial', sans-serif;
	font-size: 14px;
}
a {
	color: #3c4751;
}
.top {
	position: fixed;
	height: 100px;
	background-color: #556270;
	top: 0;
	width: 100%;
	z-index: 100;
}
.logo, .menu {
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.logo {
	float: left;
	text-align: center;
	height: 60px;
	background-color: #4ecdc4;
}
.logo .title {
	background-color: #41a7a0;
	font-weight: 300;
	font-size: 20px;
	padding: 7px;
}
.logo .subtitle {
	font-weight: 800;
	letter-spacing: 6px;
    font-size: 16px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
}
.docall, .list {
	margin-top: 100px;
}
.menu a {
	color: #fff;
}
.menu .flaticon-menu48 {
	float: right;
	margin:15px;
}
.menu .flaticon-more10 {
	float: right;
	margin: 7px;
}
.menu .master {
	height: 60px;
	background-color: #3c4751;
	font-size: 16px;
}
.menu a {
	display: none;
}
.menu a.visible {
	display: inline-block;
}
.menu .master li {
	padding: 21px;
	display: inline-block;
	cursor: pointer;
}
.menu .slave {
	height: 38px;	
	background-color: #556270;
}
.menu .slave li {
	cursor: pointer;
	display: inline-block;
	padding: 14px;
	padding-bottom: 6px;
	font-size: 12px;
}
.list a {
	border:none;
	text-decoration: none;
}
.list .kit img{
	border: 1px solid #dedede;
	-webkit-box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.23);
	-moz-box-shadow:    4px 3px 5px 0px rgba(0, 0, 0, 0.23);
	box-shadow:         4px 3px 5px 0px rgba(0, 0, 0, 0.23);
}
.list {
	text-align: center;
}
.list .kit {
	text-align: center;
	margin-top: 30px;
	max-width: 310px;
	display: inline-block;
	cursor: pointer;
}
.list .kit .title {
	font-weight: 800;
	font-family: 'Raleway', sans-serif;
	float: left;
	padding-top: 5px;
	padding-left: 5px;
	color: #3c4751;
}
.menu .slave.info-comp li{
	margin: 0;
	padding: 0;
	padding-top: 8px;
}
.list .kit .infos {
	float: right;
	margin-right: 4px;
}
.info {
	margin-top: 5px;
	float: left;
}
.info i {
	margin-right: 3px;
}
.info.down {
	color: #88ad37;
}
.info.comment {
	color: #556270;
}
.info.like {
	color: #c44d58;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	margin-left: 10px;
}
.master .active {
	background-image: url(../img/totop.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}
.slave .active {
	border-bottom: 6px solid #4ecdc4;
}
.kit .new {
	position: absolute;
	width: 100px;
	font-family: 'Raleway', sans-serif;
	font-size: 12px;
}
.kit .new .mark {
	background-color: #c7f464;
	border:1px solid #7d993f;
	color: #445322;
	padding: 4px;
	z-index: 2;
	position: absolute;
	margin: -6px;
}
.kit .new .corner{
	position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
    top: 18px;
    border-right-color: #7d993f;
    content: " ";
    border-width: 9px;
    z-index: 1;
    margin-top: -10px;
    margin-left: -15px;
}
.menuMobile {
	background: #fff;
	border: 1px solid #ccc;
    position: absolute;
    right: 15px;
    margin-top: 40px;
    border-radius: 6px;
    color: #3c4751;
    padding: 12px;
}
.menuMobile li {
	margin: 10px;
	display: block !important;
	text-align: right;
	padding: 0 !important;
}
.info-comp-text {
	display: none;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}
.info-comp ul {
	float: left;
	margin-right: 50px;
}
.tecs {
	display: none;
}
.tecs img {
	margin-right: 10px;
}
.comp {
	background-color: #e0e3e5;
	font-size: 14px;
	width: 150px;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	position: fixed;
	margin-left: -140px;
	top: 100px;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.comp .op {
	padding-left: 10px;
	padding-top: 8px;
}
.comp .op.demo {
	padding-top: 20px;
	padding-bottom: 15px;
}
.comp .op a {
	text-decoration: none;
}
a.action-fire {
	background-color: #c44d58;
	color: #fff;
	border-radius: 6px;
	width: 100%;
	padding: 10px;
	text-decoration: none;
	font-size: 12px;
}
.comp .flaticon-menu48 {
	position: absolute;
	background-color: #e0e3e5;
	margin-right: -20px;
	padding: 5px;
	right: 0;
	cursor: pointer;
}
.comp .flaticon-menu48:before {
	margin-left: 0;
}
.docall {
	padding: 30px;
}
.docall .preview {
	display: none;
}
.docall h1 {
	margin-top: 20px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
.docall .flaticon-download168:before {
	margin-left: 0;
}
.glyph {
    display: inline-block;
    width: 120px;
    margin: 10px;
    text-align: center;
    vertical-align: top;
}
.glyph .glyph-icon {
    padding: 10px;
    display: block;
    font-family: "Flaticon";
    font-size: 30px;
    line-height: 1;
}
.glyph .glyph-icon:before {
    font-size: 30px;
    color: #666;
    margin-left: 0;
}
p {
	display: block;
	padding-top: 15px;
}
.clr {
	clear: both;
}
.titledoc:before {
    display: block;
    content: "";
    height: 120px;
    margin: -120px 0 0;
}
@media screen and (min-width: 470px) {
	.menu a.more1 {
		display: inline-block;
	}
}
@media screen and (min-width: 580px) {
	.menu a.more2 {
		display: inline-block;
	}
	.slave i {
		display: none;
	}
	.slave.info-comp i {
		display: inline-block;
	}
	.info-comp-text {
		display: inline-block;
	}
	.menu a {
		display: inline-block;
	}
	.menu i {
		display: none;
	}
}
@media screen and (min-width: 800px) {
	.docall {
		padding-left: 180px;
	}
	.tecs {
		display: inline-block;
	}
	.logo .title {
		height: 60px;
		font-size: 30px;
		padding: 10px;
	}
	.logo .subtitle {
	    font-size: 18px;
	    padding: 8px;
	    height: 40px;
	}
	.menu .slave li:first-child {
		margin-left: 20px;
	}
	.menu .slave li {
		padding: 14px;
		padding-bottom: 6px;
	}
	.logo {
		height: auto;
		width: 150px;
	}
	.comp .flaticon-menu48 {
		display: none;
	}
	.comp {
		margin-left: 0;
	}
	.docall .preview {
		display: block;
		float: right;
		margin-left: 20px;
	}
}
@media screen and (min-width: 1000px) {
	.list .kit {
		margin-left: 10px;
		margin-right: 10px;
	}
}