<!DOCTYPE html>
<html ng-app="showuikit">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ShowUIKit</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/flaticon.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,800,300' rel='stylesheet' type='text/css'>
</head>
<body ng-controller="MainController">
	<div class="top">
		<div class="logo">
			<div class="title">SHOW</div>
			<div class="subtitle">UIKIT</div>
		</div>
		<div class="menu">
			<i class="flaticon-menu48" ng-click="openMenu()"></i>
			<div class="menuMobile" ng-show="showMenu">
				<ul>
					<li ng-click="selectMenu('WEBAPP')">WEB APP</li>
					<li ng-click="selectMenu('MOBILEAPP')">MOBILE APP</li>
					<li ng-click="selectMenu('DESKTOPAPP')">DESKTOP APP</li>
				</ul>
			</div>
			<div class="master">
				<ul>
					<a ng-click="selectMenu('WEBAPP')" ng-class="{visible:menu == 'WEBAPP'}"><li ng-class="{active: menu == 'WEBAPP' }">WEB APP</li></a>
					<a ng-click="selectMenu('MOBILEAPP')" ng-class="{visible:menu == 'MOBILEAPP'}"><li ng-class="{active: menu == 'MOBILEAPP' }">MOBILE APP</li></a>
					<a ng-click="selectMenu('DESKTOPAPP')" ng-class="{visible:menu == 'DESKTOPAPP'}"><li ng-class="{active: menu == 'DESKTOPAPP' }">DESKTOP APP</li></a>
				</ul>
			</div>
			<div class="slave">
				<i class="flaticon-more10" ng-click="openSubmenu()"></i>
				<div class="menuMobile" ng-show="showSubmenu">
					<ul>
						<li ng-click="selectSubmenu('TODOS')">TODOS</li>
						<li ng-click="selectSubmenu('NOVOS')">NOVOS</li>
						<li ng-click="selectSubmenu('CURTIDOS')">MAIS CURTIDOS</li>
						<li ng-click="selectSubmenu('COMENTADOS')">MAIS COMENTADOS</li>
						<li ng-click="selectSubmenu('BAIXADOS')">MAIS BAIXADOS</li>
					</ul>
				</div>
				<ul>
					<a ng-click="selectSubmenu('TODOS')" class="visible"><li ng-class="{active: submenu == 'TODOS' }">TODOS</li></a>
					<a ng-click="selectSubmenu('NOVOS')" class="visible"><li ng-class="{active: submenu == 'NOVOS' }">NOVOS</li></a>
					<a ng-click="selectSubmenu('CURTIDOS')" class="visible"><li ng-class="{active: submenu == 'CURTIDOS' }">MAIS CURTIDOS</li></a>
					<a ng-click="selectSubmenu('COMENTADOS')" class="more1"><li ng-class="{active: submenu == 'COMENTADOS' }">MAIS COMENTADOS</li></a>
					<a ng-click="selectSubmenu('BAIXADOS')" class="more2"><li ng-class="{active: submenu == 'BAIXADOS' }">MAIS BAIXADOS</li></a>
				</ul>
			</div>
		</div>
	</div>
	<div class="list">


		<div class="kit" ng-repeat="kit in kits">
			<a href="{{kit.link}}">
				<img ng-src="img/{{kit.image}}" alt="{{kit.name}}">
			</a>
			<a href="{{kit.link}}">
				<h1 class="title" ng-bind="kit.name"></h1>	
			</a>
			<div class="infos">
				<div class="info down"><i class="flaticon-download168"></i><span ng-bind="kit.downloads"></span></div>
				<div class="info comment"><i class="flaticon-social11"></i><span ng-bind="kit.comments"></span></div>
				<div class="info like"><i class="flaticon-heart393"></i><span ng-bind="kit.likes"></span></div>
			</div>
		</div>


	</div>

	<!--Libs-->
	<script type="text/javascript" src="js/lib/angular.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<!--Controllers-->
	<script type="text/javascript" src="js/api_service.js"></script>
	<script type="text/javascript" src="js/main_controller.js"></script>

</body>
</html>